<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/quod.webp">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body class="bg-dark text-light">
    <section class="hero">
      <nav class="navbar navbar-expand navbar-dark bg-dark ">
        <div class="container-fluid mb-5">

          <a class="navbar-brand" href="/">
              <img src="/images/quod.webp" class="nav-img shadow-lg rounded-pill me-1" id="navbar-logo">
              <b>QUOD</b>
            </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active text-warning me-2" href="/premium"><b>
                    <img src="https://cdn.discordapp.com/emojis/732470306324742206.gif?size=24">
                    Premium
                  </b></a>
                <a class="nav-link active text-primary me-2" href="https://discord.gg/"><b>
                    <img src="https://cdn.discordapp.com/emojis/929343247032131585.webp?size=24">
                    Discord
                  </b></a>
                    <a class="nav-link active text-primary me-1" href="/login"><b>
                        <img src="https://cdn.discordapp.com/emojis/929343247468355594.webp?size=24">
                        Login
                      </b></a>
            </div>
          </div>
        </div>
      </nav>
      <div class="p-5 mt-2">
          
        <img src="/images/navimg.png" class="float-end d-block illustrator-img">
        <h1>
             <b>Build Your Server <br/> With <img src="/images/quod.webp" class="nav-img rounded-pill"> QUOD</b>
        </h1>
        <p>Configure moderation, leveling, and much <br/> more with the most easy-to-use dashboard!</p>
        <ul>
            <li>Moderation</li><br/>
            <li>Custom Commands</li><br/>
            <li>Leveling</li><br/>
            <li>Alerts</li><br/>
        </ul>
        <a href="http://bit.ly/quodbot" class="me-2">
            <button class="btn btn-primary shadow-lg nav-btn rounded">Add Discord</button>
        </a>

        <a href="/login">
            <button class="btn btn-dark shadow-lg nav-btn rounded">Login</button>
        </a>
    </div>
    </section>