<%- include('../partials/header.ejs', {}) %>

<section class="plugin-section">
  <div class="container">

<p id="success"></p>
<br/><br/>
<h1>PREFIX:</h1>
<br/>
<form id="prefix-form" style="margin-top: 1em;" method="POST"> 
  <p>Prefix</p>
  <p style="color:lightslategray">You can change the bot's prefix on the server</p>
  <br/>
  <input type="hidden" id="guildid" value="<%= guild.id %>">
  <input type="text" id="prefix" class="form-control" name="prefix" value="<%= prefix %>" placeholder="Your prefix" required="require"><br><br>
  <button type="submit" class="btn btn-outline-success">Save Settings</button>
</form>
</div>
</section>
<script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
  var guildID = document.getElementById("guildid").value;
  $('#prefix-form').submit(function (e) {
    e.preventDefault();
    $.ajax({
			url:`/dashboard/${guildID}/prefix`,
			type:'POST', 
			data: {
      prefix: document.getElementById("prefix").value,
      guildid: document.getElementById("guildid").value
      },
      success: document.getElementById('success').innerHTML = "YOUR SETTINGS HAVE BEEN SAVED"
		});
  });
</script>

</body>
</html>
