<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="icon" href="/images/title-quod.png"/>
  <script src="https://kit.fontawesome.com/fe063c303c.js" crossorigin="anonymous"></script>
  <title>HOME</title>
</head>
<body>

  <nav class="nav">
  <a href="/" class="nav-button left"><i class="fas fa-home"></i> HOME</a>&emsp;&emsp;
  <a href="/" class="nav-button left"><i class="fas fa-rocket"></i> PREMIUM</a>&emsp;&emsp; 
  <a href="/" class="nav-button left"><i class="fas fa-question"></i> SUPPORT</a> 
   <% if(user != "yok" ){ %>
    <a href="/dashboard" class="nav-button right"><i class="fas fa-user"></i> <%= user.username %></a> 
    <% } else { %>
      <a href="<%= loginlink %>" class="nav-button right"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
      <% } %>
</nav>
<br/>

<section class="index-section">
    <br/><br/><br/>
    <img src="/images/quod.png" class="quodpng">
    <br/><br/>
    <h3>QUOD</h3>
    <h4 style="color:lightslategrey">Easy to use discord bot</h3>
        <br/>
        <% if(user != "yok" ){ %>
            <a href="/dashboard"><button class="index-button"><i class="fas fa-user"></i> <%= user.username %></button></a> 
            <% } else { %>
              <a href="<%= loginlink %>"><button class="index-button"><i class="fas fa-sign-in-alt"></i> Login with Discord</button></a>
              <% } %>
              &emsp;
              <a href="http://bit.ly/quodbot"><button class="index-button"><i class="fas fa-plus"></i> Add Discord</button></a>
</section>


</body>
</html>