<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="icon" href="/images/title-quod.png"/>
  <script src="https://kit.fontawesome.com/fe063c303c.js" crossorigin="anonymous"></script>
  <title>PLUGINS</title>
</head>
<body>

  <nav class="nav">
  <a href="/" class="nav-button left"><i class="fas fa-home"></i> HOME</a>&emsp;&emsp;
  <a href="/" class="nav-button left"><i class="fas fa-rocket"></i> PREMIUM</a>&emsp;&emsp; 
  <a href="/" class="nav-button left"><i class="fas fa-question"></i> SUPPORT</a> 
   <% if(user != "yok" ){ %>
    <a href="/dashboard" class="nav-button right"><i class="fas fa-user"></i> <%= user.username %></a> 
    <% } else { %>
      <a href="<%= loginlink %>" class="nav-button right"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
      <% } %>
</nav>
<br/>

<section class="plugin-section">
   &emsp;EXTRA
   <br/>
   <div class="rows">
       <div class="plugin">
        &emsp;<i class="fas fa-exclamation fa-5x" style="color:lightslategrey; float:left;"></i>
        <br/>
      &emsp;<a href="./<%- guildid %>/prefix" class="py">PREFIX</a>
      <br/>
      &emsp;<a class="py1">Change the QUOD's prefix</a>
    </div>
    <div class="plugin">
        &emsp;<i class="fas fa-globe-europe fa-5x" style="color:lightslategrey; float:left;"></i>
        <br/>
      &emsp;<a href="./<%- guildid %>/lang" class="py">LANGUAGE</a>
      <br/>
      &emsp;<a class="py1">Change the QUOD's language</a>
     </div>
   </div>
</section>


</body>
</html>