<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="icon" href="/images/title-quod.png"/>
  <script src="https://kit.fontawesome.com/fe063c303c.js" crossorigin="anonymous"></script>
  <title>HOME</title>
</head>
<body class="bg-dark text-light">

  <nav class="navbar navbar-expand navbar-dark bg-dark shadow-lg">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
  <a href="/" class="nav-link active"><i class="fas fa-home"></i> HOME</a>
</li>
<li class="nav-item">
  <a href="/" class="nav-link active"><i class="fas fa-rocket"></i> PREMIUM</a>
</li>
<li class="nav-item">
  <a href="/" class="nav-link active"><i class="fas fa-question"></i> SUPPORT</a>
</li>
</ul>
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
   <% if(user != "yok" ){ %>
    <li class="nav-item">
    <a href="/dashboard" class="nav-link active"><i class="fas fa-user"></i> <%= user.username %></a> 
  </li>
    <% } else { %>
      <li class="nav-item">
      <a href="<%= loginlink %>" class="nav-link active"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
    </li>
      <% } %>
</ul>
  </nav>
<br/>

<section class="section">
  <div class="container">
<h2>Extra</h2>
   <br/>
   <div class="row">
       <div class="col-4 btn btn-dark shadow-lg me-3 pt-3 pb-3">
        <i class="fas fa-exclamation fa-5x text-light float-start"></i>
        <br/>
      <a href="./<%- guildid %>/prefix" class="text-decoration-none text-light">PREFIX</a>
      <br/>
        <a class="text-decoration-none text-light">Change the QUOD's prefix</a>
    </div>
    <div class="col-4 btn btn-dark shadow-lg me-3 pt-3 pb-3">
        <i class="fas fa-globe-europe fa-5x text-light float-start"></i>
        <br/>
      <a href="./<%- guildid %>/lang" class="text-decoration-none text-light">LANGUAGE</a>
      <br/>
      <a class="text-decoration-none text-light">Change the QUOD's language</a>
     </div>
   </div>
  </div>
</section>


</body>
</html>
